img {
  width: 30px;
}

.counter {
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 0.12rem 0.2rem;
  position: absolute;
  right: 0;
  top: 0;
}

.cart {
  align-items: center;
  display: flex;
  height: 50px;
  position: relative;
  width: 40px;
}
